<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Kunde 42</title>
</head>

<body>
    <header>
        <h1>Template für Kunde 42</h1>
    </header>
    <main>
        {{ message }}
    </main>
</body>

</html>